In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_html('http://www.nfd.com.tw/house/year/2017.htm', header=0)

In [3]:
df2017 = df[0]

In [4]:
df2017.head()

   YEAR  TIMES  N1  N2  N3  N4  N5  N6  S1
0  2017      1   4  11  22  29  37  46  18
1  2017      2   5  14  20  21  36  49  39
2  2017      3   7  10  14  29  45  46  19
3  2017      4   2   7  14  26  38  39  12
4  2017      5  18  25  27  30  40  43   6

In [9]:
def func_1(s1):
    
    cdict = {'red':[1,2,7,8,12,13,18,19,23,24,29,30,34,35,40,45,46],
        'blue':[3,4,9,10,14,15,20,25,26,31,36,37,41,42,47,48],
        'green':[5,6,11,16,17,21,22,27,28,32,33,38,39,43,44,49]}
    
    if s1 in cdict['red']:
        return 'red'
    elif s1 in cdict['blue']:
        return 'blue'
    else:
        return 'green'

In [10]:
df2017['color'] = df2017['S1'].apply(func_1)

In [18]:
def func_2(s1):
    
    zodiac = {'rat':[10,22,34,46],
             'ox':[9,21,33,45],
             'tiger':[8,20,32,44],
             'rabbit':[7,19,31,43],
             'dragon':[6,18,30,42],
             'snake':[5,17,29,41],
             'horse':[4,16,28,40],
             'goat':[3,15,27,39],
             'monkey':[2,14,26,38],
             'rooster':[1,13,25,37,49],
             'dog':[12,24,36,48],
             'pig':[11,23,35,47]}
    
    if s1 in zodiac['rat']:
        return 'rat'
    elif s1 in zodiac['ox']:
        return 'ox'
    elif s1 in zodiac['tiger']:
        return 'tiger'
    elif s1 in zodiac['rabbit']:
        return 'rabbit'
    elif s1 in zodiac['dragon']:
        return 'dragon'
    elif s1 in zodiac['snake']:
        return 'snake'
    elif s1 in zodiac['horse']:
        return 'horse'
    elif s1 in zodiac['goat']:
        return 'goat'
    elif s1 in zodiac['monkey']:
        return 'monkey'
    elif s1 in zodiac['rooster']:
        return 'rooster'
    elif s1 in zodiac['dog']:
        return 'dog'
    else:
        return 'pig'

In [19]:
df2017['zodiac'] = df2017['S1'].apply(func_2)

In [21]:
df2017['zodiac'].value_counts()

dragon     18
rabbit     15
rooster    14
goat       14
tiger      14
horse      13
dog        12
ox         12
snake      11
monkey     11
rat        10
pig         9
Name: zodiac, dtype: int64

In [22]:
def func_3(s1):
    
    if s1 % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [25]:
df2017['EvO'] = df2017['S1'].apply(func_3)

In [27]:
df2017['EvO'].value_counts()

even    78
odd     75
Name: EvO, dtype: int64