In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_html('http://www.cpzhan.com/liu-he-cai/all-results/?year=2017&sort=seq', header=0)
df2017 = df[0]
df2017.columns = ['year','index','date','N1', 'N2', 'N3', 'N4', 'N5', 'N6','S1']

In [ ]:
df2017.head()

In [3]:
def func_1(s1):
    
    cdict = {'red':[1,2,7,8,12,13,18,19,23,24,29,30,34,35,40,45,46],
        'blue':[3,4,9,10,14,15,20,25,26,31,36,37,41,42,47,48],
        'green':[5,6,11,16,17,21,22,27,28,32,33,38,39,43,44,49]}
    
    if s1 in cdict['red']:
        return 'red'
    elif s1 in cdict['blue']:
        return 'blue'
    else:
        return 'green'

In [4]:
df2017['color'] = df2017['S1'].apply(func_1)

In [20]:
def generate_zodiac(year):
    
    if (year - 2000) % 12 == 0:
        sign = 'dragon'
    elif (year - 2000) % 12 == 1:
        sign = 'snake'
    elif (year - 2000) % 12 == 2:
        sign = 'horse'
    elif (year - 2000) % 12 == 3:
        sign = 'goat'
    elif (year - 2000) % 12 == 4:
        sign = 'monkey'
    elif (year - 2000) % 12 == 5:
        sign = 'rooster'
    elif (year - 2000) % 12 == 6:
        sign = 'dog'
    elif (year - 2000) % 12 == 7:
        sign = 'pig'
    elif (year - 2000) % 12 == 8:
        sign = 'rat'
    elif (year - 2000) % 12 == 9:
        sign = 'ox'
    elif (sign - 2000) % 12 == 10:
        sign = 'tiger'
    else:
        sign = 'rabbit'
        
    zdlist = ['monkey','rooster','dog','pig','rat','ox','tiger','rabbit','dragon','snake','horse','goat']*2
    seq_list = zdlist[zdlist.index(sign):zdlist.index(sign)+12]
    
    zodiac = {}
    mat = np.arange(1,49).reshape(4,12).transpose().tolist()
    mat[0].append(49)
    
    for num, key in enumerate(seq_list):
        
        zodiac[key] = mat[num]
    
    return zodiac

In [21]:
def func_2(year, s1):
    
    zodiac = generate_zodiac(year)
    
    if s1 in zodiac['rat']:
        return 'rat'
    elif s1 in zodiac['ox']:
        return 'ox'
    elif s1 in zodiac['tiger']:
        return 'tiger'
    elif s1 in zodiac['rabbit']:
        return 'rabbit'
    elif s1 in zodiac['dragon']:
        return 'dragon'
    elif s1 in zodiac['snake']:
        return 'snake'
    elif s1 in zodiac['horse']:
        return 'horse'
    elif s1 in zodiac['goat']:
        return 'goat'
    elif s1 in zodiac['monkey']:
        return 'monkey'
    elif s1 in zodiac['rooster']:
        return 'rooster'
    elif s1 in zodiac['dog']:
        return 'dog'
    else:
        return 'pig'

In [23]:
df2017['zodiac'] = df2017.apply(lambda x: func_2(x['year'], x['S1']), axis=1)

In [24]:
df2017['zodiac'].value_counts()

tiger      18
rabbit     15
pig        14
dragon     14
rooster    14
rat        13
snake      12
monkey     12
dog        11
ox         11
horse      10
goat        9
Name: zodiac, dtype: int64

In [25]:
def func_3(s1):
    
    if s1 % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [26]:
df2017['EvO'] = df2017['S1'].apply(func_3)

In [27]:
df2017['EvO'].value_counts()

even    78
odd     75
Name: EvO, dtype: int64

In [31]:
def func_4(s1):
    
    if s1 >= 25:
        return 'big'
    else:
        return 'small'

In [32]:
df2017['BS'] = df2017['S1'].apply(func_4)

In [33]:
df2017['BS'].value_counts()

big      80
small    73
Name: BS, dtype: int64

In [34]:
df2017.head()

,year,index,date,N1,N2,N3,N4,N5,N6,S1,color,zodiac,EvO,BS
0,2017,1,2017-01-03,22,29,37,11,4,46,18,red,tiger,even,small
1,2017,2,2017-01-05,5,36,20,14,49,21,39,green,pig,odd,big
2,2017,3,2017-01-07,10,14,7,29,45,46,19,red,rabbit,odd,small
3,2017,4,2017-01-10,26,14,2,39,7,38,12,red,monkey,even,small
4,2017,5,2017-01-12,43,30,27,40,18,25,6,green,tiger,even,small