In [2]:
import bs4 as bs
import urllib.request

In [23]:
import pandas as pd

In [31]:
df = pd.read_html('http://www.nfd.com.tw/house/year/2017.htm', header=0)

In [39]:
df2017 = df[0]

In [40]:
df2017.head()

   YEAR  TIMES  N1  N2  N3  N4  N5  N6  S1
0  2017      1   4  11  22  29  37  46  18
1  2017      2   5  14  20  21  36  49  39
2  2017      3   7  10  14  29  45  46  19
3  2017      4   2   7  14  26  38  39  12
4  2017      5  18  25  27  30  40  43   6